* {
font-family: 微軟正黑體;
}
html,body{
margin: 0;
padding: 0;
}
.container{
max-width: 80%;
margin: 100px auto;
}
.header .header_up img{
margin: 0 auto;
width: 163px;
display: block;
}
.button{
border: none;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline;
font-size: 14px;
-webkit-transition-duration: 0.2s; /* Safari */
transition-duration: 0.3s;
cursor: pointer;
}
.button  {
background-color: white;
color: black;
border: 2px solid #e7e7e7;

}
.button:hover {background-color: #e7e7e7;}
.header_down{
display: -webkit-flex;
display: flex;
justify-content:center;
-webkit-align-items: center;
align-items: center;
-webkit-justify-content: center;
justify-content: center;
}
.about .container {
margin-top: 350px;
}
.about .container .about_up,.about .container .about_down{
margin: 0 auto;
width: 700px;
}
.event .container .event_up,.event .container .event_down{
margin: 0 auto;
max-width: 700px;
justify-content: center;
}
.event .container {
margin-top: 300px;
}
.cafemenu,.cafemenu .container{
/* border: solid 1px gray; */
}
.cafemenu,.cafemenu .container,.cafemenu_up{
margin: 0 auto;
max-width: 700px;
/* justify-content: center; */
/* display: flex; */
margin-bottom:  50px;
}
.cafemenu , .cafemenu .container , .cafemenu_down{
/* background-color: pink; */
width: 100%;
}
.cafemenu_down_left{
/* background-color: gray; */
width: 35%;
float: left;
text-align:right;
}
.cafemenu_down_main{
/* background-color: yellow; */
width: 30%;
float: left;
text-align:right;
}
.cafemenu_down_right{
/* background-color: gray; */
width: 35%;
float: right;
text-align:right;
}
.clear-both {
clear: both;
}
.onlinestore  .container .onlinestore_up{
display: flex;
justify-content: center;
margin-bottom: 100px;
}
.onlinestore  .container .onlinestore_down{
display: flex;
justify-content: center;
}
.information .container .information_up{
display: flex;
justify-content: center;
margin: 0 auto;
max-width: 700px;

}
.information .container .information_down_suggest hi{
	float: right;
}
.information .container .information_down_suggest .information_map_right{
float: right;
}
.information_input{
	margin-bottom: 10px;
}